<div class="container">
	<h1>Actualizar persona</h1>

	<form action="/persona/u" method="post">

		Nombre
		<input type="text" name="nombre" required="required" th:value="${persona.nombre}" />
		<br />

		País de nacimiento
		<select name="idPaisNace">
			<th:block th:each=" pais : ${paises} ">
				<option th:value="${pais.id}" th:text="${pais.nombre}" th:selected="${pais.id == persona.nace?.id}"/>
			</th:block>
		</select>
		<br />

		País de residencia
		<select name="idPaisVive">
			<th:block th:each=" pais : ${paises} ">
				<option th:value="${pais.id}" th:text="${pais.nombre}" th:selected="${pais.id == persona.vive?.id}"/>
			</th:block>
		</select>
		<br />

		<fieldset>
			<legend>
				Aficiones que me gustan
			</legend>
			
			<th:block th:each="aficion : ${aficiones}">
				<input th:id="|idAficionGusta-${aficion.id}|" type="checkbox" name="idGustos[]" th:value="${aficion.id}" th:checked="${persona.gustos.contains(aficion)}"/>
				<label th:for="|idAficionGusta-${aficion.id}|" th:text="${aficion.nombre}"/>
			</th:block>
		</fieldset>

		<fieldset>
			<legend>
				Aficiones que aborrezco
			</legend>
			
			<th:block th:each="aficion : ${aficiones}">
				<input th:id="|idAficionOdia-${aficion.id}|" type="checkbox" name="idOdios[]" th:value="${aficion.id}" th:checked="${persona.odios.contains(aficion)}"/>
				<label th:for="|idAficionOdia-${aficion.id}|" th:text="${aficion.nombre}"/>
			</th:block>
		</fieldset>
		
		<input type="hidden" name="idPersona" th:value="${persona.id}" />

		<input type="submit" />
		<br />
	</form>

	<form action="/persona/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>